body {font-family: Arial, sans-serif;margin: 0;padding: 0;background-image: url('background.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;}
.nav-buttons {position: absolute;top: 10px;right: 20px;}
.nav-buttons ul {list-style-type: none;padding: 0;}
.nav-buttons li {display: inline-block;margin-right: 15px;}
.nav-buttons a {color: black;text-decoration: none;font-weight: bold;transition: color 0.3s;}
.nav-buttons a:hover {color: #4c10c6;}
header, section, footer {padding: 20px;margin: 10px;border-radius: 10px;}
header {text-align: center;color: #4c10c6;}
header h1 {margin: 0;font-size: 36px;}
header p {font-size: 18px;}
#about {background-color: rgba(249, 249, 249, 0.9);padding: 30px;border-radius: 10px;display: flex;align-items: center;justify-content: space-between;gap: 30px;}
#about img {max-width: 70%;height: auto;border-radius: 50%;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);flex: 1;}
.about-text {flex: 2;text-align: center;}
.about-text h1 {font-family: Roboto;font-size: 36px;margin-top: 0;}
.about-text p {font-size: 15px;margin-bottom: 20px;}
.social-media {display: flex;justify-content: center;margin-top: 20px;}
.social-media a {margin: 0 10px;}
.social-media img {width: 30px;height: 30px;}
.buttons {margin-top: 20px;text-align: center;color: white;}
button {background-color: #edd312;color: white;border: none;border-radius: 5px;padding: 10px 20px;cursor: pointer;transition: background-color 0.3s;}
button:hover {background-color: #4c10c6;}
#experience {display: flex;flex-wrap: wrap;gap: 20px;}
.experience-card {flex: 1;display: flex;background-color: #fff;border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);overflow: hidden;}
.experience-logo img {max-width: 60px;height: auto;margin-right: 20px;}
.experience-description {padding: 20px;flex: 2;}
#skills {display: flex;flex-wrap: wrap;justify-content: space-between;gap: 20px;}
.skill-card {display: flex;background-color: #fde13f;flex-direction: column;border-radius: 10px;padding: 15px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);width: calc(20% - 20px);}
#contact:hover{background-color: lightblue;transform: scale(1.05);box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);}
.education-card:hover{background-color: lightgreen;transform: scale(1.05);box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)}
.certification-card:hover{background-color: white;transform: scale(1.05);box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)}
.skill-card:hover{background-color: gold;transform: scale(1.05);box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)}
.skill-category h3 {font-size: 1em;margin-bottom: 10px;color: #333}
.thumbnail-list {display: flex;flex-wrap: wrap;margin-top: 10px}
.thumbnail {background-color: #a67d17;color: #fff;border-radius: 5px;padding: 5px 10px;margin: 5px}
#experience, #skills, #certifications, #education, #contact {background-color: rgba(255, 255, 255, 0.9);padding: 20px;border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin-top: 20px}
#experience h2, #skills h2, #certifications h2, #education h2, #contact h2 {font-family: cursive;color: #3f0773;font-size: 28px;margin-bottom: 20px;text-align: center}
#certifications {display: flex;flex-wrap: wrap;justify-content: space-between;gap: 20px}
.certification-card {display: flex;flex-direction: column;background-color: #fff;border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);padding: 20px;width: calc(33.33% - 20px);box-sizing: border-box}
.certification-logo img {max-width: 50px;height: auto;margin-right: 10px}
.certification-details h3 {font-size: 18px;margin-top: 0}
.certification-details p {font-size: 14px;margin-bottom: 10px}
.certification-details a {color: #4c10c6;text-decoration: none;transition: color 0.3s}
.certification-details a:hover {color: #4c10c6}
#education {background-color: rgba(255, 255, 255, 0.9); padding: 20px;border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)}
#education h2 {color: #333;font-size: 28px;margin-bottom: 20px}
.education-container {display: flex;flex-wrap: wrap;gap: 20px}
.education-card {flex: 1;display: flex;background-color: #fff;border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);overflow: hidden}
.education-logo img {max-width: 60px;height: auto;margin-right: 20px}
.education-details {flex: 1;padding: 20px}
.education-details h3 {font-size: 20px;margin-top: 0}
.education-details p {font-size: 16px;margin: 5px 0}